* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height:100px;
    margin: -50px 0 0 -100px;
    background: #f0f0f0;        
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    cursor: pointer;
    opacity: 0.8;
    transition: 1s;
}

img:hover{
    opacity: 1;
    transform: scale(1.1);
}

